    .idea
    .gitignore
    backend/node_modules
    apps/passenger-app/node_modules
    apps/capitain-app/node_modules
    apps/web-admin/node_modules
    backend/package-lock.json
    apps/passenger-app/package-lock.json
    apps/capitain-app/package-lock.json
    apps/web-admin/package-lock.json
    apps/passenger-app/dist
    apps/capitain-app/dist
    apps/web-admin/dist
    backend/dist
apps/web-admin/package-lock.json
